#shortcutKeys {
  max-width: 780px;
}

#shortcutKeys div.column {
  break-inside: avoid;
  break-after: column;
}

#shortcutKeys div.item {
  white-space: nowrap;
  overflow: hidden;
  min-height: 20px;
  cursor: pointer;
}

#shortcutKeys div.item:hover {
  background-color: #f5f5f5;
}

#shortcutKeys div.item span.key {
  font-family: Consolas, Menlo, 'Liberation Mono', Courier, monospace;
  font-weight: bold;
  margin: 0 5px;
}

#shortcutKeys div.item span.title {
  margin-right: 5px;
  white-space: nowrap;
}

#menu {
  white-space: nowrap;
  margin: 10px 5px;
  text-align: right;
}
