:root {
  --bs-body-font-size: 0.875rem;
  --bs-body-font-family: "Roboto", "Segoe UI", Arial, sans-serif;
}

.form-control,
.form-select {
  font-size: 0.875rem;
}

.bi {
  vertical-align: -0.075em;
}

.card-body {
  padding: 0.75rem 1rem;
}

.hidden {
  display: none !important;
}

h1 {
  font-size: 1.5rem;
}

.alert {
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.5rem;
}

.alert-dismissible {
  padding-right: 2.5rem;
}

.alert-dismissible .btn-close {
  padding: 0.625rem 0.75rem;
}

label.form-check {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding-left: 0;
}

label.form-check .form-check-input {
  margin: 0;
  flex-shrink: 0;
}

#startupKey {
  font-family: Consolas, Menlo, 'Liberation Mono', Courier, monospace;
  width: 200px;
}
#startupKey[disabled] {
  background-color: #fbfbfb;
}

#startupKeyHelp, #columnCountHelp, #disabledSyncHelp {
  font-size: 90%;
}

#startupKeyHelp .btn,
#userScriptsDisabledMessage .btn {
  padding: 1px 6px;
  font-size: inherit;
  line-height: inherit;
  vertical-align: baseline;
}

#inputColumnCount {
  width: 200px;
}

#shortcutKeys .shortcut-entry .card-header {
  background-color: #fbfbfb;
}

#shortcutKeys .shortcut-entry:has(.entry-body.hidden) .card-header {
  border-bottom: none;
  border-radius: var(--bs-card-border-radius);
}

#shortcutKeys .summary {
  cursor: pointer;
}

#shortcutKeys .summary .key {
  font-family: Consolas, Menlo, 'Liberation Mono', Courier, monospace;
  font-weight: bold;
  margin-right: 10px;
}

#shortcutKeys .summary .title {
  white-space: nowrap;
  margin-right: 10px;
}

#shortcutKeys .alert-icon {
  color: #c9302c;
}

#shortcutKeys .ignore-has-error {
  color: #333;
}

#shortcutKeys .duplicate-message {
  white-space: nowrap;
}

.form-row.has-error .form-control,
.form-row.has-error .form-select {
  border-color: #dc3545;
}
