h1 {
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}

#shortcutkeys .panel-title {
  font-size: inherit;
}

#shortcutkeys .summary .key {
  font-family: Consolas, Menlo, 'Liberation Mono', Courier, monospace;
  font-weight: bold;
  margin-right: 10px;
}

#shortcutkeys .summary .title {
  white-space: nowrap;
  margin-right: 10px;
}

#shortcutkeys div.alert {
  margin-bottom: 10px;
}

#shortcutkeys .panel {
  margin-bottom: 5px;
}

#shortcutkeys .panel-heading {
  background-color: #fbfbfb;
  padding: 5px 15px;
}

#shortcutkeys .panel-heading .alert-icon {
  color: #c9302c;
}

#shortcutkeys .panel-body {
  padding-bottom: 0;
}
